a.highlight:hover {color:black;}

a.highlight {border:2px solid black; text-decoration: none;padding: 5px; border-radius: 3px;}




.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}




/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}


.initial {

 
 
 color: black;
 font-family: times;

 text-decoration: none;padding: 10px; border-radius: 3px;

}


.intro {color:black; text-align: center; margin-left: 10%; margin-right: 10%;}


.bold{font-weight: 700;}


.material-icons.md-36 { font-size: 20px; margin-left: -3px; }


.info {margin-left:-3px;}

h2 {font-size:1.3em; margin-left: -3px;}



.scribble {
    background-image: url(../scribble-mob.svg);
    background-repeat: no-repeat;
    background-position: center;}
  
  .jan-scribble {
    background-image: url(../jan-scribble.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size:80px;

}

a.year:link {
    text-decoration: none;
    border-bottom: 0px solid black;
      -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* visited link */
a.year:visited {
    color: black;
     text-decoration: none;
      -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-bottom: 0px solid black;
}

/* mouse over link */
a.year:hover {
    

 border-bottom: 2px solid black;
color: black; /* fallback for old browsers */
  

        
          -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}

/* selected link */
a.year:active {
    color: black;
    border-bottom: 2px solid black;

}




section {
  width: 100%;
  padding: 0!important;
  display: block;
  margin: 0!important;
  max-width: none;

background: #ffb347; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffb347 , #ffcc33); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ffb347 , #ffcc33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  height: 100vh;
  z-index: 10000000;
  position: relative;
  text-align: center!important;

}


.section{margin-bottom: 60px; margin-left: 10px; margin-right:4px;}

    .month {display:none;}

.stretch {

  font-size: 15em;
  margin-top: -60px;
}


.top { margin-top: 0px!important; left:0;text-align: left;background-size: cover; width: 100%;color:#;  -webkit-text-stroke-width: 0px;
   -webkit-text-stroke-color: black; -webkit-transform: rotate(-4deg);}

nav.page-navigation .current a {
    background-color: #fff;
    color: #fdbe3d;
    text-decoration: none;
    
}


nav.page-navigation a:hover {
    background-color: #fff;
  
    text-decoration: none;
    color:#fdbe3d;
}




nav.page-navigation {
    width: 140px;
    background-color: #fff;
    position: fixed;
    left:0;
    text-decoration: none;
}
nav.page-navigation li {
    width: 100%;
    text-decoration: none;
    
    margin: 0;
}
nav.page-navigation a {
   
    width: 80%;
    text-decoration: none;
    
}

.twitter {color:#00aced;}

li {line-height: 220%; margin: 0;}

.button {
    border-radius:2px;
    border:1px solid #fdbe3d;
    padding:20px 0px 20px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;
}


.button:hover {
    border-radius:2px;
    border:1px solid #fdbe3d;
   padding:20px 0px 20px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #fdbe3d;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;
    box-shadow:  10px 10px 20px #ed8f03;

}

.button-twitter {
    border-radius:2px;
    border:1px solid #4099ff;
    padding:20px 0px 20px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;
}


.button-twitter:hover {
    border-radius:2px;
    border:1px solid #4099ff;
   padding:20px 0px 20px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #4099ff;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;
    box-shadow: 10px 10px 20px #0056b7;

}





#left {
    width: 30%;
    height: 100%;
    position: absolute;
    background: white;
    text-align:center;
    text-align: left;
    margin-top: 50px;
 

}
#right {
    width: 70%;
    height: auto;
    position: absolute;
    right: 0;
    background: white;
    padding-right: 30px!important;
    margin-left: 30px;

}


.quote {margin-top:50px; margin-bottom:30px; width:100%; float:left; line-height: 130%;}

.italic {font-style: italic;}


.smile { 
background: #FFB75E; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFB75E , #ED8F03); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

  }


  .smiley { 
height:27px;
    -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}



::selection {
  background: #fdbe3d; /* WebKit/Blink Browsers */
  color: black;
}

  

 
h1 {
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; "Space Mono"
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  margin: 0;
  color: #fdbe3d;
  line-height: 2.2em;
}
h3 {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  margin: 0;
  


}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;

}

body {margin: 0px; margin-top: 0px; }


.times {font-family: "Space Mono", TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; font-weight: 300; letter-spacing: 0em;
 }


 /* unvisited link */
a:link {
    color: black;
      -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* visited link */
a:visited {
    color: black;
      -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* mouse over link */
a:hover {
    


background-color: #fdbe3d; /* fallback for old browsers */ยง


          -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}


a:hover.twitter {
    


background-color: #4099FF; /* fallback for old browsers */ยง


          -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

}

/* selected link */
a:active {
    color: black;

}

.month-mid {display: none;}


@media only screen and (min-width: 500px) and (max-width: 960px) {
    .month-mid {display: inline;}
    .quote {margin-top:50px; margin-bottom:30px; width:50%; float:right; line-height: 130%;}
   }




@media (min-width: 960px){
  .material-icons.md-36 { font-size: 36px;}

  .intro {color:black; text-align: center; margin-left: 20%; margin-right: 20%;}

  .button {
    border-radius:2px;
    border:1px solid #fdbe3d;
    padding:40px 0px 40px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;
}


.button:hover {
    border-radius:2px;
    border:1px solid #fdbe3d;
   padding:40px 0px 40px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #fdbe3d;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;

}
.button-twitter {
    border-radius:2px;
    border:1px solid #4099ff;
    padding:40px 0px 40px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #fff;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;
}


.button-twitter:hover {
    border-radius:2px;
    border:1px solid #4099ff;
   padding:40px 0px 40px 0px!important;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
    display:inline;
    display:inline-block;
    text-transform:none;
    color:black;
text-decoration: none;
    background-color: #4099ff;
    margin-top: 0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    text-indent: 0;

}



  h2 {font-size:2em;}

   .jan-scribble {
    background-image: url(../jan-scribble.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size:auto;

}


  .scribble {
    background-image: url(../blk-scribble.svg);
    background-repeat: no-repeat;
    background-position: center;
  background-size: 140px;

}


  .section{margin-bottom: 60px; margin-left: 10px; margin-right:15px;}

  .hide-on-desktop {display: none;}

  .quote {margin-top:50px; margin-bottom:30px; width:50%; float:right; line-height: 130%;}

.month-mid {display: none;}

  #left {
    width: 20%;
    height: 100%;
    position: fixed;
    background: white;
    text-align:center;
    text-align: left;
  
}
#right {
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
    background: white;
    padding-right: 30px!important;
    margin-left: 30px;
}



  .month {display:inline;}


  .smiley { 
height:40px;
  

  }


  body {margin: 0px; padding: 0}

  a.highlight {padding: 10px;}

  h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
    color: #ffb347;
  margin: 0;
  line-height: 1.8em;
}

h3 {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;





}
